* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: black;
}

main {
   width: 100%;
   height: 90%;
   background-image: url('pictures/denise-jans-OaVJQZ-nFD0-unsplash.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
}

main button {
    background-color: orange;
    height: 4rem;
    border-radius: 40px;
    border-style: none;
    width: 15rem;
    font-size: 1rem;
    font-weight: bold;
}

header {
    height: 10%;
    background-color: black;
    display: flex;
    justify-content: center;   
    align-items: center;
}

header input {
    height: 2.5rem;
    border-radius: 40px;
    background-color: black;
    background-image: url('pictures/svg-search-icon-26.jpg');
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: 181px 3px;
    border-color: orange;
    border-width: 1px;
    padding: 12px 20px 12px 40px;
}

footer {
    height: 14rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
}

footer h3 {
    color: white;

}

footer p {
    color: white;
}

.circle {
    height: 3rem;
    width: 3rem;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: thistle;
    background-image: url('pictures/github.png');
}